/*! Made with Bones: http://themble.com/bones :) */
/******************************************************************
Site Name:
Author:

Stylesheet: Main Stylesheet

Here's where the magic happens. Here, you'll see we are calling in
the separate media queries. The base mobile goes outside any query
and is called at the beginning, after that we call the rest
of the styles inside media queries.

Helpful articles on Sass file organization:
http://thesassway.com/advanced/modular-css-naming-conventions

******************************************************************/
/*********************
IMPORTING PARTIALS
These files are needed at the beginning so that we establish all
our mixins, functions, and variables that we'll be using across
the whole project.
*********************/
/******************
*Define Global Vars
*******************/
/************
*Helper Class
*************/
.simple {
 /**
* For modern browsers
* 1. The space content is one way to avoid an Opera bug when the
*    contenteditable attribute is included anywhere else in the document.
*    Otherwise it causes space to appear at the top and bottom of elements
*    that are clearfixed.
* 2. The use of `table` rather than `block` is only necessary if using
*    `:before` to contain the top-margins of child elements.
*/
}
.simple.hide {
  display: none;
}
.simple.invisible {
  visibility: hidden;
}
.simple.clearfix {
  clear: both;
}
.simple.nowrap {
  white-space: nowrap;
}
.simple.wrap {
  white-space: normal;
}
.simple.upper {
  text-transform: uppercase;
}
.simple.cf {
  /**
   * For IE 6/7 only
   * Include this rule to trigger hasLayout and contain floats.
   */
  *zoom: 1;
}
.simple.cf:before, .simple.cf:after {
  content: " ";
  /* 1 */
  display: table;
  /* 2 */
}
.simple.cf:after {
  clear: both;
}

.hidden {
  display: none !important;
  visibility: hidden;
}

.visuallyhidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}
.visuallyhidden.focusable:active, .visuallyhidden.focusable:focus {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  width: auto;
}

.invisible {
  visibility: hidden;
}

.chromeframe {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

input.invalid {
  border-color: #E9322D;
  -webkit-box-shadow: 0 0 6px #F8B9B7;
  -moz-box-shadow: 0 0 6px #f8b9b7;
  box-shadow: 0 0 6px #F8B9B7;
  color: #B94A48;
}

.image-replacement,
.ir {
  text-indent: 100%;
  white-space: nowrap;
  overflow: hidden;
}

.ir2 {
  background-color: transparent;
  border: 0;
  overflow: hidden;
  *text-indent: -9999px;
}
.ir2:before {
  content: "";
  display: block;
  width: 0;
  height: 150%;
}

.clearfix, .cf {
  zoom: 1;
}
.clearfix:before, .clearfix:after, .cf:before, .cf:after {
  content: "";
  display: table;
}
.clearfix:after, .cf:after {
  clear: both;
}

/*
use the best ampersand
http://simplebits.com/notebook/2008/08/14/ampersands-2/
*/
span.amp {
  font-family: Baskerville,'Goudy Old Style',Palatino,'Book Antiqua',serif !important;
  font-style: italic;
}

/* ======================================
        Font Load
        ====================================*/
@font-face {
  font-family: 'Segoe UI';
  src: local("Segoe UI");
  src: url("font/segoeui.eot");
  src: url("font/segoeui.eot") format("embedded-opentype"), url("font/segoeui.woff") format("woff"), url("font/segoeui.ttf") format("truetype"), url("font/segoeui.svg#SegoeUIRegular") format("svg");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Segoe UI';
  src: local("Segoe UI Light");
  src: url("font/segoeuil.eot");
  src: url("font/segoeuil.eot") format("embedded-opentype"), url("font/segoeuil.woff") format("woff"), url("font/segoeuil.ttf") format("truetype"), url("font/segoeuil.svg#SegoeUILight") format("svg");
  font-weight: 200;
  font-style: normal;
}
@font-face {
  font-family: 'Segoe UI';
  src: local("Segoe UI Semilight");
  src: url("font/segoeuisl.eot");
  src: url("font/segoeuisl.eot?#iefix") format("embedded-opentype"), url("font/segoeuisl.woff") format("woff"), url("font/segoeuisl.ttf") format("truetype"), url("font/segoeuisl.svg#Segoe UI Semilight") format("svg");
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: 'Segoe UI';
  src: local("Segoe UI Semibold");
  src: url("font/seguisb.eot");
  src: url("font/seguisb.eot") format("embedded-opentype"), url("font/seguisb.woff") format("woff"), url("font/seguisb.ttf") format("truetype"), url("font/seguisb.svg#SegoeUIRegular") format("svg");
  font-weight: 600;
  font-style: normal;
}
@font-face {
  font-family: 'Segoe UI';
  src: local("Segoe UI Bold");
  src: url("font/segouuibold.eot");
  src: url("font/segouuibold.eot") format("embedded-opentype"), url("font/segouuibold.woff") format("woff"), url("font/segouuibold.ttf") format("truetype"), url("font/segouuibold.svg#SegoeUIBold") format("svg");
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: 'Segoe UI';
  src: local("Segoe UI Black");
  src: url("font/seguibl.eot");
  src: url("font/seguibl.eot?#iefix") format("embedded-opentype"), url("font/seguibl.woff") format("woff"), url("font/seguibl.ttf") format("truetype"), url("font/seguibl.svg#Segoe UI Black") format("svg");
  font-weight: 900;
  font-style: normal;
}
/* =======
   Units
   ======= */
/* ========
   Mixin
   ======== */
/* =======
   Units
   ======= */
/* ============
    Colors
    =========== */
/* ============
    Fonts
    =========== */
/******************************************************************
Site Name:
Author:

Stylesheet: Base Mobile Stylesheet

Be light and don't over style since everything here will be
loaded by mobile devices. You want to keep it as minimal as
possible. This is called at the top of the main stylsheet
and will be used across all viewports.

******************************************************************/
/*********************
GENERAL/Wrapper/Layout STYLES
*********************/
/*Footer Flip*/
html, body {
  height: 100%;
  width: 100%;
  margin: 0px;
  padding: 0px;
}

body {
  min-width: 320px;
}

body > [class*='container'] {
  margin: 0px;
}

.wrapper {
  width: 96%;
  margin: 0 2%;
}

/******************************************************************
Element STYLES
******************************************************************/
body {
  font: 100%/1 "Segoe UI", Helvetica, Arial, sans-serif;
  color: #4a5151;
  font-weight: 500;
  background: #ffffff;
  /*background-color: transparentize($color_page_back, 0.1);*/
}

a, a:visited {
  color: inherit;
  text-decoration: none;
  text-shadow: none;
  /* on click */
  /* mobile tap color */
}
a:hover, a:focus, a:visited:hover, a:visited:focus {
  text-decoration: underline;
}
a:link, a:visited:link {
  /*
  this highlights links on iPhones/iPads.
  so it basically works like the :hover selector
  for mobile devices.
  */
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0.3);
}

button,
input,
select,
textarea {
  color: inherit;
}
button:focus,
input:focus,
select:focus,
textarea:focus {
  outline-color: transparent;
}

ul, ol {
  text-indent: 0;
}

p {
  text-indent: 0;
  margin: 0;
  /*text-shadow: 0px 1px 0px;*/
}

h1, .h1, h2, .h2, h3, .h3, h4, .h4, h5, .h5 {
  font-family: "Segoe UI", Helvetica, Arial, sans-serif;
  line-height: 1;
  /*
  if you're going to use webfonts, be sure to check your weights
  http://css-tricks.com/watch-your-font-weight/
  */
  /* removing text decoration from all headline links */
}
h1 a, .h1 a, h2 a, .h2 a, h3 a, .h3 a, h4 a, .h4 a, h5 a, .h5 a {
  text-decoration: none;
  color: inherit;
}

img {
  height: auto;
}

/*********************
Main Section's STYLES
*********************/
.fheader-container {
  background: #dedede;
}
.fheader-container .inner {
  padding: 5px;
  padding-top: 0;
}

.flip-header {
  font-weight: 300;
  color: 696969;
  position: relative;
  font-size: 0.9em;
}
.flip-header .city {
  position: absolute;
  top: 15px;
  left: 0;
}
.flip-header .auth-btn {
  position: absolute;
  top: 5px;
  right: 0;
}
.flip-header .mainmenu {
  margin-left: 30%;
}
.flip-header .mainmenu li {
  display: inline-block;
}
.flip-header .mainmenu li + li {
  margin-left: 10px;
}
.flip-header .mainmenu a {
  display: block;
  padding: 15px 10px 5px;
}
.flip-header .mainmenu a:hover {
  background-color: #6854eb !important;
  color: #fffffc;
  text-decoration: none;
}
.flip-header .mainmenu .ico-discount a {
  padding-right: 33px;
  background: url("../img/ico_menu_discount.png") no-repeat 64px 13px;
}
.flip-header .abutton {
  background: #e6e6e7;
  border: 1px solid #c3c3c3;
  color: #9d9d9d !important;
}
.flip-header .abutton:first-child {
  width: 65px;
}
.flip-header .abutton:hover {
  background: #e00009;
  border: 1px solid #e00009;
  color: white !important;
}

.header-container {
  background: white;
  padding: 35px 0;
}

header.header {
  vertical-align: middle;
}
header.header table {
  width: 100%;
  text-align: center;
  vertical-align: middle;
}
header.header .brand .block {
  min-width: 220px;
}
header.header .brand img {
  max-width: 218px;
  width: 100%;
}
header.header .tel {
  font-weight: 500;
  width: 22%;
}
header.header .tel .block {
  min-width: 230px;
}
header.header .tel span {
  font-size: 1.7em;
  display: block;
  margin-bottom: 5px;
  color: #fc0205;
}
header.header .tel p {
  font-style: italic;
  color: #363636;
  font-size: 0.875em;
}
header.header .tel-order {
  width: 22%;
}
header.header .tel-order .block {
  min-width: 230px;
}
header.header .tel-order .abutton {
  width: 205px;
  font-weight: 300;
  padding: 15px 11px;
}
header.header .basket {
  font-style: italic;
}
header.header .basket .block {
  min-width: 250px;
}
header.header .basket .img {
  margin-right: 10px;
  display: inline-block;
  vertical-align: top;
}
header.header .basket .img img {
  width: 59px;
}
header.header .basket .text {
  display: inline-block;
  vertical-align: middle;
  font-size: 1.17em;
  text-align: left;
}
header.header .basket .text .bname {
  color: #242424;
}
header.header .basket .text .sum {
  color: #5c5e5e;
}

.hfind-container {
  background: #e0e0e0;
  padding: 15px 0;
  border-top: 1px solid #cccccc;
  border-bottom: 1px solid #cccccc;
}

.hfind {
  position: relative;
}
.hfind .inner {
  margin-left: 26%;
}
.hfind input[type="text"] {
  background: white;
  color: #6c6c6c;
  font-style: italic;
  border: 1px solid #c8c8c8;
  padding: 6px 8px;
  float: left;
  width: 80%;
  max-width: 415px;
}
.hfind input[type="submit"] {
  color: white;
  padding: 7px 10px 7px 30px;
  border: none;
  font-weight: 300;
  background: #657adb url("../img//bk_find.png") no-repeat 7px 5px;
  float: left;
}
.hfind .select {
  width: 100px;
  vertical-align: top;
  display: block;
  float: left;
  margin-left: 10px;
}
.hfind .cat-menu {
  position: absolute;
  z-index: 1;
  top: -15px;
  left: 0;
  width: 24%;
  color: #696969;
  font-weight: 600;
  -moz-box-shadow: 0 0 25px rgba(0, 0, 0, 0.5);
  -webkit-box-shadow: 0 0 25px rgba(0, 0, 0, 0.5);
  box-shadow: 0 0 25px rgba(0, 0, 0, 0.5);
}
.hfind .cat-menu h2 {
  color: white;
  padding: 20px 13% 20px 0;
  margin: 0;
  font-weight: 600;
  font-size: 1.3em;
  text-align: center;
  position: relative;
  background-color: #6b81e8;
  *zoom: 1;
  filter: progid:DXImageTransform.Microsoft.gradient(gradientType=0, startColorstr='#FF6B81E8', endColorstr='#FF4B5FAE');
  background-image: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJvYmplY3RCb3VuZGluZ0JveCIgeDE9IjAuNSIgeTE9IjAuMCIgeDI9IjAuNSIgeTI9IjEuMCI+PHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzZiODFlOCIvPjxzdG9wIG9mZnNldD0iNTAlIiBzdG9wLWNvbG9yPSIjNjI3N2Q2Ii8+PHN0b3Agb2Zmc2V0PSIxMDAlIiBzdG9wLWNvbG9yPSIjNGI1ZmFlIi8+PC9saW5lYXJHcmFkaWVudD48L2RlZnM+PHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgZmlsbD0idXJsKCNncmFkKSIgLz48L3N2Zz4g');
  background-size: 100%;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #6b81e8), color-stop(50%, #6277d6), color-stop(100%, #4b5fae));
  background-image: -moz-linear-gradient(top, #6b81e8 0%, #6277d6 50%, #4b5fae 100%);
  background-image: -webkit-linear-gradient(top, #6b81e8 0%, #6277d6 50%, #4b5fae 100%);
  background-image: linear-gradient(to bottom, #6b81e8 0%, #6277d6 50%, #4b5fae 100%);
}
.hfind .cat-menu h2:after {
  content: ' ';
  position: absolute;
  z-index: 2;
  width: 25px;
  height: 17px;
  right: 10%;
  top: 26px;
  background: url("../img/bk_catmenu.png") no-repeat 0 0;
}

.slider-container {
  background: #e0e0e0;
  padding: 20px 0;
  border-top: 1px solid #cccccc;
  border-bottom: 1px solid #cccccc;
}

.footer-container {
  background: #e8e8e8;
  padding: 20px 0;
}

footer.footer {
  font-weight: 300;
  color: #363636;
  font-size: 0.9em;
  position: relative;
}
footer.footer h4 {
  font-weight: 600;
  font-size: 1.1em;
  color: #1f1f1f;
  margin: 0;
  margin-bottom: 12px;
}
footer.footer li + li, footer.footer p + p {
  margin-top: 10px;
}
footer.footer .block {
  float: left;
}
footer.footer .map {
  width: 24%;
}
footer.footer .contact {
  width: 26%;
}
footer.footer .call {
  text-align: center;
  width: 25%;
}
footer.footer .call .inner {
  display: inline-block;
  padding-right: 40px;
  background: url("../img/bk_call.png") no-repeat 100% 80%;
}
footer.footer .call span {
  font-weight: 500;
  font-size: 1.7em;
  display: block;
  margin-bottom: 15px;
  color: #fc0205;
}
footer.footer .call p {
  font-weight: 500;
  font-style: italic;
  color: #363636;
  font-size: 0.95em;
  margin-bottom: 15px;
}
footer.footer .call .abutton {
  width: 205px;
  font-weight: 300;
  padding: 15px 11px;
}
footer.footer .pay {
  text-align: center;
  width: 25%;
}
footer.footer .pay .img {
  margin-bottom: 32px;
}
footer.footer .pay .img img {
  height: 24px;
  max-width: 36px;
}
footer.footer .pay .webpro_c {
  display: inline-block;
}

/*********************
Pages Styles
*********************/
aside.right {
  float: right;
}

aside.left {
  float: left;
}

.center {
  float: left;
}

.stuff-item {
  position: relative;
  text-align: center;
  float: left;
  font-weight: 300;
  min-width: 205px;
}
.stuff-item .inner {
  max-width: 240px;
  margin-left: auto;
  margin-right: auto;
  border: 1px solid #c8c8c8;
  background: white;
}
.stuff-item .inner:hover {
  -webkit-box-shadow: 0 0 5px rgba(0, 0, 0, 0.7) !important;
  -moz-box-shadow: 0 0 5px rgba(0, 0, 0, 0.7) !important;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.7) !important;
}
.stuff-item .inner > a {
  display: block;
}
.stuff-item .inner > a:hover {
  text-decoration: none;
}
.stuff-item .img {
  vertical-align: top;
  padding: 5px;
  max-height: 122px;
  overflow-y: hidden;
}
.stuff-item img {
  max-width: 100%;
  vertical-align: middle;
}
.stuff-item .name, .stuff-item .cat {
  font-size: 0.85em;
  color: #494949;
  padding: 5px;
}
.stuff-item .name {
  padding-top: 0;
  margin-bottom: 15px;
}
.stuff-item .cat {
  padding-bottom: 0;
}
.stuff-item .link {
  margin-bottom: 7px;
}
.stuff-item .link a {
  color: #7d7d7d;
  padding-right: 18px;
  background: url("../img/catmenu_arrow_hover.png") no-repeat 100% 4px;
}
.stuff-item .footer {
  border-top: 1px solid #c8c8c8;
  background: #f5f5f5;
}
.stuff-item .footer .basket-btn {
  vertical-align: middle;
  color: #494949;
  font-size: 0.95em;
  padding-left: 25px;
  height: 20px;
  display: inline-block;
  padding-top: 8px;
  background: url("../img/basket_btn.png") no-repeat 0 5px;
}
.stuff-item .footer .discount {
  padding-top: 4px;
  color: #b0b0b0;
  font-size: 0.875em;
  text-decoration: line-through;
}
.stuff-item .footer .normal {
  color: white;
  font-size: 0.95em;
  font-style: italic;
}
.stuff-item .footer .normal.single {
  padding-top: 11px;
}
.stuff-item .footer .left {
  width: 50%;
  float: left;
  min-height: 37px;
}
.stuff-item .footer .right {
  width: 50%;
  float: left;
  background: #c32525;
  min-height: 37px;
  vertical-align: middle;
}

.product-list .stuff-item {
  float: left;
  margin: 22px 0.5% 0;
  width: 32%;
}

.news-list .item {
  margin-top: 22px;
}
.news-list .left {
  float: left;
  width: 10%;
  margin-right: 3.5%;
  text-align: center;
}
.news-list .right {
  float: left;
  width: 86.5%;
}
.news-list .text {
  color: #4a5151;
  font-size: 0.95em;
}
.news-list h3 {
  margin: 0 0 10px 0;
  color: #363636;
  font-weight: 600;
  text-decoration: underline;
  font-size: 1em;
}
.news-list .date {
  display: inline-block;
  border: 1px solid #c8c8c8;
  border-radius: 5px;
  background: #f9fafa;
  padding: 10px;
}
.news-list .date p {
  color: #2559c3;
  font-weight: 600;
  font-size: 0.95em;
  text-transform: uppercase;
}

.slider .head {
  position: relative;
  margin-bottom: 15px;
}
.slider .head a {
  position: absolute;
  top: 0;
  right: 0;
  z-index: 1;
  color: #676767;
}
.slider .head h2 {
  color: #6c6c6c;
  font-weight: 600;
  font-size: 1.2em;
  margin: 0;
}
.slider .img img {
  margin: 0 auto;
}

body.index .main.cat-ico .center {
  margin-left: 26%;
  width: 42%;
}
body.index .main.cat-ico aside {
  width: 30%;
}
body.index .main.cat-ico h3 {
  font-size: 1.17em;
  font-weight: 500;
  color: #292929;
  font-style: italic;
  margin: 20px 0 25px 0;
}
body.index .main.cat-ico table {
  width: 100%;
}
body.index .main.cat-ico td {
  font-weight: 300;
  color: #4f4f4f;
  text-transform: uppercase;
  padding: 10px 5px;
  max-width: 150px;
}
body.index .main.cat-ico td img {
  width: 36px;
  height: 26px;
  vertical-align: middle;
  margin-bottom: 5px;
}
body.index .main.cat-ico td span {
  vertical-align: middle;
}
body.index .main.cat-ico td a:hover {
  text-decoration: none;
}
body.index .main.cat-ico .aside .discount-single img {
  max-width: 355px;
  width: 100%;
}
body.index .main.pop-news {
  margin-top: 35px;
  margin-bottom: 35px;
}
body.index .main.pop-news .center {
  margin-right: 2%;
  padding-right: 2%;
  width: 54%;
  position: relative;
}
body.index .main.pop-news .center:after {
  content: ' ';
  position: absolute;
  z-index: 1;
  width: 1px;
  height: 100%;
  top: 0;
  right: 0;
  border-right: 1px solid #c3c3c3;
}
body.index .main.pop-news aside {
  width: 42%;
}
body.index .main.pop-news .head {
  background: #6152e0;
  padding: 20px;
  position: relative;
  text-shadow: 0px 1px 1px rgba(255, 255, 255, 0.3);
}
body.index .main.pop-news .head h2 {
  color: white;
  font-weight: 600;
  margin: 0;
}
body.index .main.pop-news .head a {
  color: white;
  border-bottom: 1px dotted;
  position: absolute;
  top: 20px;
  right: 20px;
}

/*********************
Block STYLES
*********************/
.bread {
  color: #ffb039;
  font-size: 0.875em;
  font-weight: 600;
  font-family: 'Segoe UI Semibold';
  padding-bottom: 10px;
  border-bottom: 1px solid #e9e9e9;
  margin-bottom: 10px;
  -moz-box-shadow: 0 1 1 #f1f1f1;
  -webkit-box-shadow: 0 1 1 #f1f1f1;
  box-shadow: 0 1 1 #f1f1f1;
}
.bread a {
  color: #201b1c;
  display: inline-block;
  padding: 5px 10px 5px 20px;
  position: relative;
  text-decoration: none;
  background: #f0f0f0;
}
.bread a.last:before,
.bread a.last:after {
  background: #201b1c;
}
.bread span {
  background: #222222;
  padding: 5px 10px 5px 20px;
  display: inline-block;
  position: relative;
}
.bread li {
  display: inline-block;
  vertical-align: top;
  position: relative;
  height: 29px;
}
.bread li:after {
  content: ' ';
  display: block;
  height: 29px;
  width: 12px;
  background: url("../img/bread_arrow.png") no-repeat 0 0;
  position: absolute;
  z-index: 3;
  top: 0;
  right: -10px;
}
.bread li.last:after {
  background: url("../img/bread_arrow_black.png") no-repeat 0 0;
}
.bread li div {
  background: #f0f0f0;
}

.uline {
  list-style: none;
  padding: 0;
  margin: 0;
}

.paginator {
  font-family: 'Segoe UI Semibold';
  font-weight: 600;
  font-size: 0.875em;
  margin-top: 30px;
}
.paginator .page-info {
  height: 30px;
}
.paginator a {
  padding: 6px 12px;
  border: 1px solid #cccccc;
  background: #fcfcfc;
  border-radius: 5px;
}
.paginator a:hover {
  background: #dfdfdf;
}
.paginator strong {
  font-family: 'Segoe UI Bold';
  padding: 6px 12px;
  background: #1c1c1c;
  color: #ffb039;
  border-radius: 2px;
  text-shadow: 0 0 15px #ffb039,0 0 15px #ffb039,0 0 15px #ffb039;
}
.paginator a + a,
.paginator a + strong,
.paginator strong + a {
  margin-left: 5px;
}

.abutton {
  width: 120px;
  display: inline-block;
  color: white !important;
  text-align: center;
  padding: 6px 0;
  border: none;
  background: #e00009;
}
.abutton:hover {
  text-decoration: none;
}

.count-btn {
  width: 20px;
  display: inline-block;
  padding: 10px;
  color: #222222 !important;
  text-align: center;
  vertical-align: middle;
  border-radius: 2px;
  background: #f0f0f0;
  cursor: pointer;
}
.count-btn:hover {
  background: #b9b9b9;
}

.cart-btn {
  width: 83%;
  max-width: 209px;
  min-width: 178px;
  display: inline-block;
  margin: 0 auto;
  color: white !important;
  text-align: right;
  border: none;
  border-radius: 3px;
  background: #d72b09 url("../img/bk_cart.png") no-repeat 15% 58%;
  padding: 20px 45px 20px 0;
  font-family: 'Segoe UI Bold';
  font-weight: 600;
  font-size: 1.3em;
}
.cart-btn:hover {
  text-decoration: none;
}

.order-btn {
  width: 100%;
  max-width: 258px;
  min-width: 178px;
  display: block;
  margin: 0 auto;
  color: white !important;
  text-align: center;
  border: none;
  border-radius: 3px;
  background: #ff0000;
  padding: 20px 0;
  font-family: 'Segoe UI Bold';
  font-weight: 600;
  font-size: 1.4em;
  text-shadow: 0px 1px 2px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: 0px 1px 6px rgba(0, 0, 0, 0.5);
  -webkit-box-shadow: 0px 1px 6px rgba(0, 0, 0, 0.5);
  box-shadow: 0px 1px 6px rgba(0, 0, 0, 0.5);
}
.order-btn:hover {
  text-decoration: none;
}

.btn-more {
  margin: 80px 0 0;
}
.btn-more a {
  text-align: center;
  font-size: 1.1em;
  font-weight: 600;
  font-family: 'Segoe UI Semibold';
  color: white;
  background: #53e48d;
  padding: 13px 60px;
  display: block;
  width: 160px;
  margin: 0 auto;
  border-radius: 8px;
}
.btn-more a:hover {
  text-decoration: none;
}

.select {
  position: relative;
  background: white;
  color: #6c6c6c;
  display: inline-block;
  font-weight: 300;
}
.select .abbr {
  position: relative;
  z-index: 110;
  cursor: pointer;
  border: 1px solid #c8c8c8;
  border-radius: 2px;
}
.select .abbr .label {
  display: inline-block;
  padding: 7px;
}
.select .abbr .label + span {
  float: right;
}
.select .abbr .pointer {
  display: block;
  width: 28px;
  height: 30px;
  border-left: 1px solid #c8c8c8;
  background: #e9e9ea url("../img/bk_find_arrow.png") 8px 10px no-repeat;
}
.select .list {
  display: none;
  position: absolute;
  padding: 10px 0;
  top: 31px;
  right: 0;
  z-index: 115;
  width: 99%;
  background: #f9fafa;
  border: 1px solid #b7b7b7;
  border-radius: 2px;
}
.select .list a {
  display: block;
  padding: 5px 10px;
}
.select .list a:hover {
  text-decoration: none;
  color: white;
  background: #3875d7;
}
.select .list .optgroup {
  margin-top: 15px;
}
.select .list .optgroup > span {
  display: block;
  padding: 0 10px;
}

.flip-block {
  width: 100%;
  background: white;
  border-radius: 4px;
  -moz-box-shadow: 0 0 5px rgba(0, 0, 0, 0.25);
  -webkit-box-shadow: 0 0 5px rgba(0, 0, 0, 0.25);
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.25);
}
.flip-block h3 {
  margin: 0;
  padding: 15px 0;
  border: 1px solid #d9d9de;
  color: #242424;
  text-transform: none;
  padding-left: 20px;
}
.flip-block .content {
  border: 1px solid #d9d9de;
  padding: 0 20px;
  font-family: 'Segoe UI';
  color: #444444;
}

.flip-block + .flip-block {
  margin-top: 15px;
}

.flip-block + .clean-block {
  margin-top: 35px;
}

.clean-block + .clean-block {
  margin-top: 35px;
}

.clean-block {
  width: 100%;
  font-family: 'Segoe UI';
  color: #444444;
  font-size: 0.9em;
  padding-bottom: 10px;
  border-bottom: 1px solid #d9d9de;
}
.clean-block .header {
  position: relative;
}
.clean-block .content {
  color: #474747;
  margin-top: 15px;
}
.clean-block .img {
  display: inline-block;
  width: 80px;
  vertical-align: top;
}
.clean-block .img img {
  width: 71px;
  height: 71px;
}
.clean-block .info {
  display: inline-block;
  vertical-align: top;
}
.clean-block .info p {
  margin: 0;
}
.clean-block .info p + p {
  margin-top: 5px;
}

.webpro_c {
  width: 135px;
  height: 55px;
  position: relative;
  display: table-cell;
}
.webpro_c:hover .img2_co {
  opacity: 1;
}
.webpro_c .img2_co {
  position: absolute;
  opacity: 0;
  transition: all .5s;
  left: 0;
}
.webpro_c .img1_co {
  position: absolute;
  left: 0;
  opacity: 0.4;
}
.webpro_c a {
  color: black;
  text-decoration: none;
  transition: all .5s;
  opacity: 0.8;
}
.webpro_c a:hover {
  color: #94b507;
  text-decoration: underline;
}
.webpro_c .webpro-href {
  position: absolute;
  font-size: 10px;
  top: 23px;
  padding-top: 12px;
}

.bx-composite-btn {
  margin-right: 30%;
  display: none !important;
}

#call_order {
  width: 340px;
  height: 290px;
}

.popup-window-close-icon {
  background: url("../img/btn_popup_close.png") no-repeat 0 0;
  height: 30px;
  width: 30px;
  right: -10px;
  top: -10px;
}
.popup-window-close-icon:hover {
  background: url("../img/btn_popup_close.png") no-repeat 0 0;
}

.popup-window {
  border: none;
  -moz-box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}
.popup-window .popup-window-content {
  margin: 0;
  border-radius: 4px;
}
.popup-window .popup-window-top-row,
.popup-window .popup-window-bottom-row,
.popup-window .popup-window-left-column,
.popup-window .popup-window-right-column {
  display: none;
}
.popup-window .error-msg {
  border: 1px solid red;
  border-radius: 4px;
  background: rgba(193, 16, 23, 0.33);
  color: black;
  margin: 20px;
  margin-bottom: 0;
  padding: 20px;
}
.popup-window .error-msg .errortext {
  color: black !important;
}
.popup-window h3 {
  color: #ffb039;
  font-family: 'Segoe UI Bold';
  font-size: 1.2em;
  font-weight: 600;
  padding: 20px;
  margin: 0;
  border-bottom: 1px solid #d4d4d4;
  text-align: center;
}
.popup-window .form-content {
  padding: 20px 35px;
  font-size: 0.95em;
  font-family: 'Segoe UI';
  color: #a3a3a3;
}
.popup-window .form-content input[type='text'] {
  color: #858585;
  display: block;
  padding: 3% 4%;
  width: 92%;
  border-radius: 4px;
  background: #f0f0f0;
  border: 1px solid #d4d4d4;
}
.popup-window .form-content input + input {
  margin-top: 15px;
}
.popup-window .form-content .text {
  margin: 15px 0;
}
.popup-window .form-content .buttons {
  text-align: center;
}
.popup-window .form-content .abutton {
  background: #d72b09;
  font-weight: 600;
  font-family: 'Segoe UI Bold';
}

/*********************
MEDIA
*********************/
@media only screen and (min-width: 480px) {
  body {
    min-width: 480px;
  }
}
@media only screen and (min-width: 768px) {
  .wrapper {
    width: 90%;
    margin: 0 5%;
  }

  .bx-composite-btn {
    display: block !important;
  }
}
@media only screen and (min-width: 900px) {
  body {
    min-width: 900px;
  }
}
@media only screen and (min-width: 1304px) {
  .wrapper {
    width: 1185px;
    /* 1140px - 10% for margins */
    margin: 0 auto;
  }
}
@media print {
  /******************************************************************
  Site Name:
  Author:
  
  Stylesheet: Print Stylesheet
  
  This is the print stylesheet. There's probably not a lot
  of reasons to edit this stylesheet. If you want to
  though, go for it.
  
  ******************************************************************/
  * {
    background: transparent !important;
    color: black !important;
    text-shadow: none !important;
    filter: none !important;
    -ms-filter: none !important;
  }

  a, a:visited {
    color: #444 !important;
    text-decoration: underline;
  }
  a:after, a:visited:after {
    content: " (" attr(href) ")";
  }
  a abbr[title]:after, a:visited abbr[title]:after {
    content: " (" attr(title) ")";
  }

  .ir a:after,
  a[href^="javascript:"]:after,
  a[href^="#"]:after {
    content: "";
  }

  pre, blockquote {
    border: 1px solid #999;
    page-break-inside: avoid;
  }

  thead {
    display: table-header-group;
  }

  tr, img {
    page-break-inside: avoid;
  }

  img {
    max-width: 100% !important;
  }

  @page {
    margin: 0.5cm;
  }
  p, h2, h3 {
    orphans: 3;
    widows: 3;
  }

  h2,
  h3 {
    page-break-after: avoid;
  }

  .sidebar,
  .page-navigation,
  .wp-prev-next,
  .respond-form,
  nav {
    display: none;
  }
}
