/******************************************************************
Site Name:
Author:

Stylesheet: Base Mobile Stylesheet

Be light and don't over style since everything here will be
loaded by mobile devices. You want to keep it as minimal as
possible. This is called at the top of the main stylsheet
and will be used across all viewports.

******************************************************************/

/*********************
GENERAL/Wrapper/Layout STYLES
*********************/
/*Footer Flip*/
html, body {
  height: 100%;
  width: 100%;
  margin: 0px;
  padding: 0px;
}
body {
  min-width: 320px;
}

body > [class *= 'container'] {
  //  height: 100%;
  margin: 0px;
}

.wrapper {
  width: 96%;
  margin: 0 2%;
}

/******************************************************************
Element STYLES
******************************************************************/
body {
  font: 100%/1 $font_text;
  color: $color_t_std;
  font-weight: 500;

  background: $color_bk_body;
  /*background-color: transparentize($color_page_back, 0.1);*/
}
//.page-inner {background: $color_bk_body;}

a, a:visited {
  color: inherit;
  text-decoration: none;
  text-shadow: none;

  &:hover, &:focus {
    text-decoration: underline;
  }

  /* on click */
  &:active {

  }

  /* mobile tap color */
  &:link {
    /*
    this highlights links on iPhones/iPads.
    so it basically works like the :hover selector
    for mobile devices.
    */
    -webkit-tap-highlight-color : rgba( 0, 0, 0, 0.3 );
  }
}

button,
input,
select,
textarea {
  color: inherit;

  &:focus {outline-color: transparent;}
}

ul, ol {text-indent: 0;}
p {
  text-indent: 0;
  margin: 0;
  //  word-break: break-all;
  /*text-shadow: 0px 1px 0px;*/
}

h1, .h1, h2, .h2, h3, .h3, h4, .h4, h5, .h5 {
  font-family: $font_h;
  line-height: 1;

  /*
  if you're going to use webfonts, be sure to check your weights
  http://css-tricks.com/watch-your-font-weight/
  */

  /* removing text decoration from all headline links */
  a {
    text-decoration: none;
    color: inherit;
  }
}

img {height: auto;}

/*********************
Main Section's STYLES
*********************/
.fheader-container {
  background: #dedede;

  .inner {padding: 5px; padding-top: 0;}
}
.flip-header {
  font-weight: 300;
  color: 696969;
  position: relative;
  font-size: 0.9em;
  min-height: 39px;

  .city {
    position: absolute;
    top: 15px;
    left: 0;
  }
  .auth-btn {
    position: absolute;
    top: 5px;
    right: 0;
  }
  .mainmenu {
    display: none;

    li {
      display: inline-block;
    }
    li+li {margin-left: 10px;}
    a {
      display: block;
      padding: 15px 10px 5px;

      &:hover {
        background-color: #6854eb !important;
        color: #fffffc;
        text-decoration: none;
      }
    }
    .ico-discount a {
      padding-right: 33px;
      background: url('#{$img-root}ico_menu_discount.png') no-repeat 64px 13px;
    }
  }

  .abutton {
    background: #e6e6e7;
    border: 1px solid #c3c3c3;
    color: #9d9d9d !important;

    &:first-child {width: 65px;}
    &:hover {
      background: #e00009;
      border: 1px solid #e00009;
      color: white !important;
    }
  }
//  p {margin: 5px 0 0; vertical-align: middle;}

}
.header-container {background: white; padding: 0 0 10px 0;}
header.header {
  vertical-align: middle;

//  $ww: 5%;
//  .block+.block {margin-left: 5%;}
//  .block {
//    float: left;
//    width: (100%/4 - 3*$ww/4);
//  }

  table {width: 100%; text-align: center; vertical-align: middle;}

  .brand {
    width: 50%;

    img {
      width: 95px;
    }
  }
  .tel {
    font-weight: 500;

    span {
      font-size: 0.95em;
      display: block;
      margin-bottom: 5px;
      color: #D72828;
    }
    p {
      display: none;
      font-style: italic;
      color: #363636;
      font-size: 0.875em;
    }
  }
  .tel-order {

    .abutton {
      font-weight: 300;
      font-size: 0.7em;
      width: 138px;
      padding: 7px 5px;
    }
  }
  .basket {
    font-style: italic;
    width: 50%;

    .img {
      margin-right: 10px;
      display: inline-block;
      vertical-align: top;

      img {width: 40px;}
    }
    .text {
      display: inline-block;
      vertical-align: middle;
      font-size: 0.875em;
      text-align: left;

      .bname {color: #242424;}
      .sum {
        color: #5c5e5e;
      }
      .label {display: none;}
    }
  }

  .base {
    text-align: left;

    .tel,
    .tel-order{display: none;}
  }
}
.hfind-container {
  background: #e0e0e0;
  padding: 10.5px 0;
  border-top: 1px solid #cccccc;
  border-bottom: 1px solid #cccccc;
}
.hfind {
  position: relative;

  .inner {
    max-width: 347px;
    margin: 0 auto;
  }

  input[type="text"] {
    background: white;
    color: #6c6c6c;
    font-style: italic;
    border: 1px solid #c8c8c8;
    padding: 6px 8px;
    float: left;
    width: 48.86%;
    max-width: 170px;
  }
  input[type="submit"] {
    width: 34px;
    padding: 0;
    color: transparent;
    height: 32px;
    border: none;
    font-weight: 300;
    background: #657adb url('#{$img-root}/bk_find.png') no-repeat 7px 5px;
    float: left;
    margin-right: 8px;
  }
  .select {
    width: 29.316%;
    max-width: 100px;
    vertical-align: top;
    display: block;
    float: left;
    font-style: italic;
  }

  .cat-menu {
    display: none;
    position: absolute;
    z-index: 1;
    top: -10.5px;
    left: 0;
    width: 24%;
    color: #696969;
    font-weight: 600;

    @include box-shadow(0 0 25px rgba(0,0,0, 0.50));

    h2 {
      color: white;
      padding: 17.5px 13% 17.5px 0;
      margin: 0;
      font-weight: 600;
      font-size: 1.25em;
      text-align: center;
      position: relative;

      // needs latest Compass, add '@import "compass"' to your scss
      background-color: #6b81e8; // Old browsers
      @include filter-gradient(#6b81e8, #4b5fae, vertical); // IE6-8
      // IE9 SVG, needs conditional override of 'filter' to 'none'
      $experimental-support-for-svg: true;
      @include background-image(linear-gradient(top,  #6b81e8 0%,#6277d6 50%,#4b5fae 100%));


      &:after {
        content: ' ';
        position: absolute;
        z-index: 2;
        width: 25px;
        height: 17px;
        right: 6%;
        top: 23px;
        background: url('#{$img-root}bk_catmenu.png') no-repeat 0 0;
      }
    }
  }
}
.slider-container {
  background: #e0e0e0;
  padding: 20px 0;
  border-top: 1px solid #cccccc;
  border-bottom: 1px solid #cccccc;
}
.footer-container {
  background: #e8e8e8;
  padding: 20px 0;
}
footer.footer {
  font-weight: 300;
  color: #363636;
  font-size: 0.9em;
  position: relative;

  h4 {
    font-weight: 600;
    font-size: 1.1em;
    color: #1f1f1f;
    margin: 0;
    margin-bottom: 12px;
  }
  li+li,p+p {margin-top: 10px;}

  .block {float: left;}
  .map, .contact, .pay {margin-bottom: 20px;}
  .media-right {float:right; margin-right: 10px;}

  .map {width: 50%;}
  .contact {
    width: 50%;

    p span {white-space: nowrap;}
  }
  .call {
    text-align: center;
    display: none;

    span {
      font-weight: 500;
      font-size: 1.7em;
      display: block;
      margin-bottom: 15px;
      color: #fc0205;
    }
    p {
      font-weight: 500;
      font-style: italic;
      color: #363636;
      font-size: 0.95em;
      margin-bottom: 15px;
    }
    .abutton {
      width: 205px;
      font-weight: 300;
      padding: 15px 11px;
    }
  }
  .pay {
    width: 100%;

    .img {

      img {
        height: 24px;
        max-width: 36px;
      }
    }
    .webpro_c {
      display: inline-block;
      width: 50%;
      float: left;
    }
    .media-pay {
      width: 50%;
      float: left;
    }
  }
  .copy {
    text-align: center;

    a {white-space: nowrap;}
  }

}

/*********************
Pages Styles
*********************/
.stuff-item {
  position: relative;
  text-align: center;
  float: left;
  font-weight: 300;
  min-width: 205px;

  .inner {
    max-width: 220px;
    margin-left: auto;
    margin-right: auto;
    border: 1px solid #c8c8c8;
    background: white;

    &:hover {
      -webkit-box-shadow: 0 0 5px rgba(0,0,0, 0.7) !important;
      -moz-box-shadow:    0 0 5px rgba(0,0,0, 0.7) !important;
      box-shadow:         0 0 5px rgba(0,0,0, 0.7) !important;
    }
  }
  .inner>a {
    display: block;
    
    &:hover { text-decoration: none;}
  }

  .img {
    vertical-align: top;
    padding: 5px;
    max-height: 122px;
    overflow-y: hidden;
  }
  img {
    max-width: 100%;
    //    width: 100%;
    vertical-align: middle;
  }
  .name, .cat {
    font-size: 0.85em;
    color: #494949;
    padding: 5px;
  }
  .name {padding-top: 0; margin-bottom: 15px;}
  .cat {padding-bottom: 0;}
  .link {
    margin-bottom: 7px;

    a{
      color: #7d7d7d;
      padding-right: 18px;
      background: url('#{$img-root}catmenu_arrow_hover.png') no-repeat 100% 4px;
    }
  }

  .footer {
    border-top: 1px solid #c8c8c8;
    background: #f5f5f5;

    .basket-btn {
      vertical-align: middle;
      color: #494949;
      font-size: 0.95em;
      padding-left: 25px;
      height: 20px;
      display: inline-block;
      padding-top: 8px;
      background: url('#{$img-root}basket_btn.png') no-repeat 0 5px;
    }
    .discount {
      padding-top: 4px;
      color: #b0b0b0;
      font-size: 0.875em;
      text-decoration: line-through;
    }
    .normal {
      color: white;
      font-size: 0.95em;
      font-style: italic;
    }
    .normal.single {padding-top: 11px;}

    .left {
      width: 50%;
      float: left;
      min-height: 37px;
    }
    .right {
      width: 50%;
      float: left;
      background: #D72828;
      min-height: 37px;
      vertical-align: middle;
    }

  }
}
.product-list {

  .stuff-item {
    margin: 0 auto;
    width: 240px;
  }
//  .stuff-item:nth-child(4n-3) {margin-left: 0; width: 32.5%;}
//  .stuff-item:nth-child(4n-1) {margin-right: 0; width: 32.5%;}
}
.news-list {

  .item {margin-top: 22px;}

  .left{
    float: left;
    width: 10%;
    margin-right: 3.5%;
    text-align: center;
  }
  .right{
    float: left;
    width: 86.5%;
  }
  .text {color: #4a5151; font-size: 0.95em;}
  h3 {
    margin: 0 0 10px 0;
    color: #363636;
    font-weight: 600;
    text-decoration: underline;
    font-size: 1em;
  }
  .date {
    display: inline-block;
    border: 1px solid #c8c8c8;
    border-radius: 5px;
    background: #f9fafa;
    padding: 10px;

    p {
      color: #2559c3;
      font-weight: 600;
      font-size: 0.95em;
      text-transform: uppercase;
    }
  }
}

.slider {

  .head {
    position: relative;
    margin-bottom: 15px;

    a{
      position: absolute;
      top: 0;
      right: 0;
      z-index: 1;
      color: #676767;
    }
    h2 {
      color: #6c6c6c;
      font-weight: 600;
      font-size: 1.2em;
      margin: 0;
    }
  }
  .img img {margin: 0 auto;}
}

body.index {

  .main.cat-ico {
    margin-bottom: 17px;

    aside{ display: none;}

    h3 {
      font-size: 1.17em;
      font-weight: 500;
      color: #292929;
      font-style: italic;
      margin: 20px 0 25px 0;
    }
//    table {width: 100%;}
    .cat-list {
      max-width: 300px;
      margin: 0 auto;
    }
    .item {
      font-weight: 300;
      color: #4f4f4f;
      min-width: 130px;
      font-size: 0.8em;
//      margin: 0 0.5%;
      text-transform: uppercase;
      float: left;

      img {
        width: 36px;
        height: 26px;
        //      margin-right: 5px;
        vertical-align: middle;
        margin-bottom: 5px;
      }
      span {vertical-align: middle;}
      a {
        display: block;
        margin:10px 5px;
//        max-width: 150px;
//        margin: 0 auto;

        &:hover {text-decoration: none;}
      }
    }
    //  td.first {max-width: 205px;}
    //  td.middle {max-width: 120px;}
    //  td.last {margin-right: 140px;}

    aside .discount-single img{
      max-width: 355px;
      width: 100%;
    }
  }
  .main.pop-news {
    margin-top: 35px;
    margin-bottom: 35px;

    .center {margin-bottom: 30px;}

    .head {
      background: #6152e0;
      padding: 20px;
      position: relative;
      text-shadow: 0px 1px 1px rgba(255, 255, 255, 0.3);
//      margin-bottom: 22px;

      h2 {
        color: white;
        font-weight: 600;
        margin: 0;
      }
      a {
        color: white;
        border-bottom: 1px dotted;
        position: absolute;
        top: 20px;
        right: 20px;
      }
    }
  }
}
/*********************
Block STYLES
*********************/
.bread {
  color: #ffb039;
  font-size: 0.875em;
  font-weight: 600;
  font-family: 'Segoe UI Semibold';
  padding-bottom: 10px;
  border-bottom: 1px solid #e9e9e9;
  margin-bottom: 10px;

  @include box-shadow(0 1 1 #f1f1f1);

  a {
    color: #201b1c;
    //    padding: 5px 20px 5px 10px;
    display: inline-block;
    padding: 5px 10px 5px 20px;
    position: relative;
    text-decoration: none;
    background: #f0f0f0;



    //    &:before,
    //    &:after {
    //      content: ' ';
    //      display: block;
    //      width: 22px;
    //      height: 22px;
    //      position: absolute;
    //      background: #f0f0f0;
    //      border: 2px solid white;
    //    }
    //    &:before {
    //      top: -13px;
    //      right: -16px;
    //      @include transform(rotate(45deg));
    //    }
    //    &:after {
    //      top: 17px;
    //      right: -14px;
    //      @include transform(rotate(-45deg));
    //    }

    //    &:hover {background: #ffb039; color: white;}
  }
  a.last:before,
  a.last:after {background: #201b1c;}

  span {
    background: #222222;
    padding: 5px 10px 5px 20px;
    display: inline-block;
    position: relative;

    //    &:before,
    //    &:after {
    //      content: ' ';
    //      display: block;
    //      width: 20px;
    //      height: 20px;
    //      position: absolute;
    //      background: white;
    //    }
    //    &:before {
    //      top: -10px;
    //      right: -10px;
    //      @include transform(rotate(45deg));
    //    }
    //    &:after {
    //      top: 19px;
    //      right: -10px;
    //      @include transform(rotate(-45deg));
    //    }
  }
  li {
    display: inline-block;
    vertical-align: top;
    position: relative;
    height: 29px;

    &:after {
      content: ' ';
      display: block;
      height: 29px;
      width: 12px;
      background: url('#{$img-root}bread_arrow.png') no-repeat 0 0;
      position: absolute;
      z-index: 3;
      top: 0;
      right: -10px;
    }

    &.last:after {background: url('#{$img-root}bread_arrow_black.png') no-repeat 0 0;}

    //    @include transition(all 0.5s linear);

    //    &.arrow {
    //      width: 11px;
    //      height: 29px;
    //      padding: 0 20px 0 10px;
    //
    //      .inner {
    //        overflow: hidden;
    //        width: 25px;
    //        height: 29px;
    //        position: relative;
    //
    //        .triangle {
    //          display: block;
    //          width: 24px;
    //          height: 24px;
    //          position: absolute;
    //          z-index: 3;
    //          top: 0;
    //          left: -15px;
    //          background: #f0f0f0;
    //          border: 2px solid white;
    //
    //          @include transform(rotate(45deg));
    //        }
    //      }
    //    }

  }
  li div {background: #f0f0f0;}
  //  li+li {margin-left: 2px;}
}
.uline {
  list-style: none;
  padding: 0;
  margin: 0;
}

.paginator {
  font-family: 'Segoe UI Semibold';
  font-weight: 600;
  font-size: 0.875em;
  margin-top: 30px;

  .page-info {height: 30px;}

  a{
    padding: 6px 12px;
    border: 1px solid #cccccc;
    background: #fcfcfc;
    border-radius: 5px;

    &:hover {background: #dfdfdf;}
  }
  strong {
    font-family: 'Segoe UI Bold';
    padding: 6px 12px;
    background: #1c1c1c;
    color: #ffb039;
    border-radius: 2px;

    text-shadow: 0 0 15px #ffb039,0 0 15px #ffb039,0 0 15px #ffb039;
  }

  a+a,
  a+strong,
  strong+a
  {margin-left: 5px;}
}

.abutton {
  width: 120px;
  display: inline-block;
  color: white !important;
  text-align: center;
  padding: 6px 0;
  border: none;
  background: #D72828;

  &:hover {text-decoration: none;}
}
.count-btn {
  width: 20px;
  display: inline-block;
  padding: 10px;
  color: #222222 !important;
  text-align: center;
  vertical-align: middle;
  border-radius: 2px;
  background: #f0f0f0;
  cursor: pointer;

  &:hover {background: #b9b9b9}
}
.cart-btn {
  width: 83%;
  max-width: 209px;
  min-width: 178px;
  display: inline-block;
  margin: 0 auto;
  color: white !important;
  text-align: right;
  border: none;
  border-radius: 3px;
  background: #d72b09 url('#{$img-root}bk_cart.png') no-repeat 15% 58%;
  padding: 20px 45px 20px 0;
  font-family: 'Segoe UI Bold';
  font-weight: 600;
  font-size: 1.3em;

  &:hover {text-decoration: none;}
}
.order-btn {
  width: 100%;
  max-width: 258px;
  min-width: 178px;
  display: block;
  margin: 0 auto;
  color: white !important;
  text-align: center;
  border: none;
  border-radius: 3px;
  background: #ff0000;
  padding: 20px 0;
  font-family: 'Segoe UI Bold';
  font-weight: 600;
  font-size: 1.4em;
  text-shadow: 0px 1px 2px rgba(0, 0, 0, 0.3);

  @include box-shadow(0px 1px 6px rgba(0, 0, 0, 0.5));

  &:hover {text-decoration: none;}
}
.btn-more {
  margin: 80px 0 0;

  a {
    text-align: center;
    font-size: 1.1em;
    font-weight: 600;
    font-family: 'Segoe UI Semibold';
    color: white;
    background: #53e48d;
    padding: 13px 60px;
    display: block;
    width: 160px;
    margin: 0 auto;
    border-radius: 8px;

    &:hover {text-decoration: none;}
  }
}

.select {
  position: relative;
  background: white;
  color: #6c6c6c;
  display: inline-block;
  font-weight: 300;

  .abbr{
    position: relative;
    z-index: 110;
    cursor: pointer;
    border: 1px solid #c8c8c8;
    border-radius: 2px;


    .label {
      display: inline-block;
      padding: 7px;
    }
    .label+span {float: right;}
    .pointer {
      display: block;
      width: 28px;
      height: 30px;
      border-left: 1px solid #c8c8c8;
      background: #e9e9ea url('#{$img-root}bk_find_arrow.png') 8px 10px no-repeat;
    }
    //&.active { background-position: -16px 2px;}
  }
  .list {
    display: none;
    position: absolute;
    padding: 10px 0;
    top: 31px;
    right: 0;
    z-index: 115;
//    width: inherit;
    width: 99%;
    background: #f9fafa;
    border: 1px solid #b7b7b7;
    border-radius: 2px;

    a {
      display: block;
      padding: 5px 10px;

      &:hover {text-decoration: none; color: white; background: #3875d7;}
    }

    .optgroup {
      margin-top: 15px;
    }
    .optgroup>span {display: block; padding: 0 10px;}
  }
}

.flip-block {
  width: 100%;
  background: white;
  border-radius: 4px;

  @include box-shadow(0 0 5px rgba(0,0,0,0.25));

  h3 {
    margin: 0;
    padding: 15px 0;
    border: 1px solid #d9d9de;
    color: #242424;
    text-transform: none;
    padding-left: 20px;
  }
  .content {
    border: 1px solid #d9d9de;
    padding: 0 20px;
    font-family: 'Segoe UI';
    color: #444444;
  }
}
.flip-block+.flip-block{margin-top: 15px;}
.flip-block+.clean-block {margin-top: 35px;}
.clean-block+.clean-block {margin-top: 35px;}
.clean-block {
  width: 100%;
  font-family: 'Segoe UI';
  color: #444444;
  font-size: 0.9em;
  padding-bottom: 10px;
  border-bottom: 1px solid #d9d9de;

  .header {position: relative;}
  .content {
    color: #474747;
    margin-top: 15px;
  }
  .img {
    display: inline-block;
    width: 80px;
    vertical-align: top;

    img {width: 71px; height: 71px;}
  }
  .info {
    display: inline-block;
    vertical-align: top;

    p {margin: 0;}
    p+p {margin-top: 5px;}
  }
}

.webpro_c {
  width: 135px;height: 55px;position: relative; display: table-cell;

  &:hover .img2_co
  {opacity: 1;}

  .img2_co
  {position: absolute;opacity: 0;transition: all .5s;left:0;}
  .img1_co
  {position:absolute; left:0; opacity: 0.4;}
  a {
    color:black; text-decoration:none;transition: all .5s; opacity: 0.8;

    &:hover {color:#94b507; text-decoration:underline;}
  }

  .webpro-href
  {position: absolute;font-size: 10px;top: 23px;padding-top: 12px; }
}
.bx-composite-btn {margin-right: 30%; display: none !important;}

#call_order {
  width: 340px;
  height: 290px;
}
.popup-window-close-icon {
  background: url('#{$img-root}btn_popup_close.png') no-repeat 0 0;
  height: 30px;
  width: 30px;
  right: -10px;
  top: -10px;

  &:hover {background: url('#{$img-root}btn_popup_close.png') no-repeat 0 0;}
}
.popup-window {
  border: none;

  @include box-shadow(0 0 10px rgba(0,0,0, 0.5));

  .popup-window-content {margin: 0; border-radius: 4px;}

  .popup-window-top-row,
  .popup-window-bottom-row,
  .popup-window-left-column,
  .popup-window-right-column {display: none;}

  //  .popup-window-center-column {}
  .error-msg {
    border: 1px solid red;
    border-radius: 4px;
    background: rgba(193, 16, 23, 0.33);
    color: black;
    margin: 20px;
    margin-bottom: 0;
    padding: 20px;

    .errortext {color: black !important;}
  }

  h3 {
    color: #ffb039;
    font-family: 'Segoe UI Bold';
    font-size: 1.2em;
    font-weight: 600;
    padding: 20px;
    margin: 0;
    border-bottom: 1px solid #d4d4d4;
    text-align: center;
  }
  .form-content {
    padding: 20px 35px;
    font-size: 0.95em;
    font-family: 'Segoe UI';
    color: #a3a3a3;

    input[type='text'] {
      color: #858585;
      display: block;
      padding: 3% 4%;
      width: 92%;
      border-radius: 4px;
      background: #f0f0f0;
      border: 1px solid #d4d4d4;
    }
    input+input {margin-top: 15px;}

    .text {margin: 15px 0;}
    .buttons {text-align: center;}
    .abutton {
      background: #d72b09;
      font-weight: 600;
      font-family: 'Segoe UI Bold';
    }
  }

}
/*********************
MEDIA
*********************/
@media only screen and (min-width: 480px) {
  body {min-width: 480px;}

  header.header {

    .brand {
      width: auto;

      img {
        max-width: 144px;
        width: 100%;
      }
    }
    .basket {
      width: auto;

      .text {
        .label {display: inline;}
      }
    }

    .base {
      text-align: center;
    }
  }
  .hfind {
    .inner {
      max-width: 540px;
    }

    input[type="text"] {
      max-width: 415px;
      width: 54%;
    }
    input[type="submit"] {
      width: auto;
      height: auto;
      color: white;
      padding: 7px 10px 7px 30px;
    }
  }
  footer.footer {

    .map, .contact, .pay {margin-bottom: 0;}
    .media-right {float:none; margin-right: 0;}
    .map {width: 33%;}
    .contact {
      width: 33%;
    }
    .pay {
      width: 33%;
      text-align: center;

      .img {
        margin-bottom: 32px;
      }
      .webpro_c {
        display: inline-block;
        width: 135px;
        float: none;
      }
      .media-pay {
        width: auto;
        float: none;
      }

    }
  }

  .product-list {

    .content {
      max-width: 520px;
      margin: 0 auto;
    }
    .stuff-item {
      float: left;
      margin: 22px 0.5% 0;
      width: 49%;
    }
  }

}
@media only screen and (min-width: 560px) {
  .header-container {padding: 0;}
  header.header {

    .media-tel {display: none;}
    .base {
      .tel,
      .tel-order{display: block;}
    }

    .brand {
      width: 33%;

      .block {min-width: 140px;}
    }
    .tel {
      .block  {min-width: 200px;}

      width: 22%;
      padding-top: 15px;
    }
    .tel-order {
      .block {min-width: 200px;}

      width: 22%;
    }
    .basket {
      .block {min-width: 200px;}
    }
  }

  body.index {

    .main.cat-ico {

      .cat-list {
        max-width: 485px;
      }
      .item {
        min-width: 160px;
//        text-align: center;
      }
      //      .item {
      //        width: 33.3%;
      //        text-align: center;
      //      }
    }
  }
}
@media only screen and (min-width: 768px) {
  .wrapper {
    width: 90%;
    margin: 0 5%;
  }

  .flip-header {
    .mainmenu {
      margin-left: 15%;
      display: block;

      li.media-900 {display: none;}
    }
  }
  header.header {

    .brand {
      width: auto;

      .block {min-width: 220px;}
      img {
        max-width: 218px;
      }
    }
    .basket {
      .block {min-width: 250px;}
      .text {
        font-size: 1.17em;
      }
      .img img {width: 59px;}
    }
    .tel {
      padding-top: 10px;

      .block {min-width: 230px;}
      p {display: block;}
      span {font-size: 1.7em;}
    }
    .tel-order {

      .block {min-width: 230px;}
      .abutton {
        width: 205px;
        padding: 10px 7px;
        font-size: 0.95em;
      }
    }
  }

  .product-list {

    .content {
      max-width: 780px;
    }
    .stuff-item {
      width: 32%;
    }
  }

  body.index {
    .main.cat-ico {

      .cat-list {
        max-width: 510px;
      }
      .item {
        min-width:  170px;
        text-align: left;
      }
      //      .item {
      //        width: 33.3%;
      //        text-align: center;
      //      }
    }
  }

  .bx-composite-btn {display: block !important;}
}
@media only screen and (min-width: 900px) {
  body {min-width: 900px;}

  .flip-header {
    .mainmenu {

      li.media-900 {display: inline-block;}
    }
  }

  footer.footer {
    .inner {
      display: inline-block;
    }
    .map {width: 20%;}
    .contact {width: 26%;}
    .call {
      display: block;
      width: 25%;
    }
    .pay {width: 29%;}
  }
}
@media only screen and (min-width: 1000px) {

  .flip-header {
    .mainmenu {
      margin-left: 20%;
    }
  }
  .hfind {
    .inner {
      margin-left: 26%;
      max-width: none;
    }

    input[type="text"] {
      width: 80%;
      max-width: 415px;
    }
    .cat-menu {
      display: block;
    }
  }
  footer.footer {

    .map {width: 24%;}
    .contact {width: 26%;}
    .call {
      width: 25%;

      .inner {
        padding-right: 40px;
        background: url("#{$img-root}bk_call.png") no-repeat 100% 80%;
      }
    }
    .pay {width: 25%;}
  }

  aside.right {float: right;}
  aside.left {float: left;}
  .center {float: left;}

  body.index {
    .news-list {

      .left{
        width: 11%;
        margin-right: 5%;
      }
      .right{
        width: 84%;
      }
    }
    .product-list {

      .content {
        max-width: 520px;
      }
      .stuff-item {
        width: 49%;
      }
    }

    .main.cat-ico {

      .center {
        margin-left: 26%;
        width: 42%;
      }
      aside {
        display: block;
        width: 30%;
      }

      .cat-list {
        max-width: 385px;
      }
      .item {
        min-width:  105px;

        &:nth-child(3n-2) {min-width: 160px;}
      }
    }
    .main.pop-news {

      .center {
        margin-right: 2%;
        padding-right: 2%;
        margin-bottom: 0;
        width: 54%;
        position: relative;

        &:after {
          content: ' ';
          position: absolute;
          z-index: 1;
          width: 1px;
          height: 100%;
          top: 0;
          right: 0;
          border-right: 1px solid #c3c3c3;
        }
      }
      aside {
        width: 42%;
      }
    }
  }
}
@media only screen and (min-width: 1140px) { //1185+5%
//  .wrapper {
//    width: 1026px; /* 1140px - 10% for margins */
//    margin: 0 auto;
//  }
  header.header {

    .base {
      .tel,
      .tel-order{display: table-cell;}
    }
    .tel {padding-top:0;}
  }
  .cat-menu {
    display: block;

    h2:after {right: 10%;}
  }

  body.index {

    .main.cat-ico {

      .cat-list {
        max-width: 400px;
      }
      .item {
        min-width:  105px;

        &:nth-child(3n-2) {min-width: 170px;}
      }
    }
    .news-list {

      .left {
        width:        10%;
        margin-right: 3.5%;
      }
      .right {
        width: 86.5%;
      }
    }
  }
}
@media only screen and (min-width: 1304px) { //1185+5%
  .wrapper {
    width: 1185px; /* 1140px - 10% for margins */
    margin: 0 auto;
  }

  .flip-header {
    .mainmenu {
      margin-left: 30%;
    }
  }

  body.index {
    .product-list {

      .content {
        max-width: 780px;
      }
      .stuff-item {
        width: 32%;
      }
    }
  }
}